streamlit==1.48.1
yfinance==0.2.65
pandas==2.3.1
numpy==2.3.2
plotly==6.3.0
streamlit-autorefresh==1.0.1
requests==2.32.4

# за акаунти/база в облака (без платен диск)
supabase==2.18.1
realtime>=2.5

# за username нормализация (ползва се в app.py)
python-slugify==8.0.4

